.page-title {
    padding: 15px 10px 5px 0;
    display: block;
    position: relative;
}

.page-container {
    position: relative;
    padding: 5px 5px;
    padding-bottom: 60px;
}

.bg-indigo {
    background-color: #541fbb;
    border-color: #e2790c;
    color: #fff;
}

.navbar-brand > img {
    margin-top: -2px;
    height: 30px;
}

.panel {
    margin-bottom: 20px;
    margin-right: 3px;
    border-width: 0;
    color: #333333;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.nav-tabs > li > a {
    margin-right: 0;
    color: #2b2a2a;
    border-radius: 0;
    text-transform: uppercase;
}

.dataTables_info {
    float: left;
    padding: 9px 0;
    margin-bottom: 20px;
    margin-left: 20px;
}

.bg-orange {
    background-color: #fa6a29;
    border-color: #fa6a29;
    color: #fff;
} 

/*.bg-orange {
    background-color: #fa6a29;
    border-color: #fa6a29;
    color: #fff;
} */

.dataTables_wrapper .dt-buttons {
  float:none;  
  text-align:center;
  font-size: 0px; 
} 
.ui-datepicker { position: relative; z-index: 10000 !important; }

input[type="checkbox"]{
  width: 14px; /*Desired width*/
  height: 14px; /*Desired height*/
}

body {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #eeeded;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 5px 10px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 3px 7px;
    line-height: 1.5384616;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
 
.btn-xs, .btn-group-xs > .btn {
    padding: 3px 7px;
}
input[type="checkbox"] {
    width: 12px;
    height: 12px;
}

body {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 11.3px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #eeeded;
}

h4, .h4 {
    font-size: 17px;
}

@media (min-width: 769px)
.nav-tabs {
    font-size: 0;
}
.nav-tabs {
    margin-bottom: 0px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 0.1384616;
    /* border: 1px solid transparent; */
    border-radius: 3px 3px 0 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-size: 11px;
}

.page-title {
    padding: 8px 2px 2px 0;
    display: block;
    position: relative;
}

h1 small.display-block, h2 small.display-block, h3 small.display-block, h4 small.display-block, h5 small.display-block, h6 small.display-block, .h1 small.display-block, .h2 small.display-block, .h3 small.display-block, .h4 small.display-block, .h5 small.display-block, .h6 small.display-block {
    margin-top: 1px;
}

.btn-float > span {
    display: block;
    padding-top: 4px;
    margin-bottom: -6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn.text-size-small {
    line-height: 1.4666667;
}

label {
    margin-bottom: 0px;
    font-weight: 200;
}