.page-title {
    padding: 15px 10px 5px 0;
    display: block;
    position: relative;
}

.page-container {
    position: relative;
    padding: 5px 5px;
    padding-bottom: 60px;
}

.bg-indigo {
    background-color: #541fbb;
    border-color: #e2790c;
    color: #fff;
}

.navbar-brand > img {
    margin-top: -2px;
    height: 30px;
}

.panel {
    margin-bottom: 20px;
    margin-right: 3px;
    border-width: 0;
    color: #333333;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.nav-tabs > li > a {
    margin-right: 0;
    color: #2b2a2a;
    border-radius: 0;
    text-transform: uppercase;
}

.dataTables_info {
    float: left;
    padding: 9px 0;
    margin-bottom: 20px;
    margin-left: 20px;
}

.bg-orange {
    background-color: #fa6a29;
    border-color: #fa6a29;
    color: #fff;
} 

/*.bg-orange {
    background-color: #fa6a29;
    border-color: #fa6a29;
    color: #fff;
} */

.dataTables_wrapper .dt-buttons {
  float:none;  
  text-align:center;
  font-size: 0px; 
} 
.ui-datepicker { position: relative; z-index: 10000 !important; }

input[type="checkbox"]{
  width: 14px; /*Desired width*/
  height: 14px; /*Desired height*/
}



